# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.sln
*.vpc_crc
*.vpc.sentinel
*.VC
*.VC.VC.opendb
*.VC.db
*.pdb

# shader files
*.tmp

game/hl2

src/game/client/Release_hl2/client.dll
