# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.sln
*.vpc_crc
*.vpc.sentinel
*.VC
*.VC.VC.opendb
*.VC.db
*.pdb

# shader files
*.tmp

hammer.vdf
GameConfig.txt

game/hl2
game/portal

src/game/client/Release*
src/game/client/Debug*
src/game/server/Debug*
src/game/server/Release*
